.App {
  text-align: center;
}

.ui.container {
  padding-top: 5em;
  display: flex;
  flex-direction: row;
}

.user-albums-container {
  min-width: 60vw;
  margin-left: auto;
}

.users-albums {
  margin-top: 8px;
}

.album {
  margin-top: 5px;
  padding: 5px;
}